
// SCSS Variables

// Brand colours
// Define colours used throught the site
$brand-white: #fff;
$brand-black: #000;
$brand-light-black: #232324;
$brand-dark-grey: #717271;
$brand-light-grey: #cac8c8;
$brand-yellow: #ffdb60;
$brand-bright-yellow: #fad000;
$brand-border: #444344;

// Gutters
// Paddings and Margins
$container-padding: 16px;
$grid-gutter-width: 30px;

// *********************** From Bootstrap ***********************
// Grid breakpoints
// Define the minimum width of screen which layout will change
// xl has been adjusted to match artwork
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// *********************** From Bootstrap ***********************
// Grid containers
// Define the maximum width of `.container` for different screen sizes.
// xl has been adjusted to match artwork
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);
