// Base styles

html{
	height: 100%;
}

body {
  background: $brand-black;
  margin:0;
  display: flex;
  flex-direction: column;
  height: 100%;
  color:$brand-light-grey;
  font-family: 'Open Sans', sans-serif;
  font-size: rem(20);
}

small{
  font-size: rem(12);
}
