// Styles for grid and responsive behaviour

.container{
  width: 100%;
  padding-right: rem($container-padding);
  padding-left: rem($container-padding);
  margin-right: auto;
  margin-left: auto;
  box-sizing:border-box;
  
  // Loop through $container-max-width and define container width
  @each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      max-width: $container-max-width;
    }
  }
}

.row{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.col{
  padding: rem($grid-gutter-width/2);
  box-sizing:border-box;
}

.half{
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 50%;
  }
}
