// Meny styles

.menu{
	&__items{
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item{
		
	}

	&__link{
		background: $brand-light-black;
		border-top: 3px solid $brand-border;
		display: block;
		padding: rem(15) rem($grid-gutter-width/3);
		color: $brand-yellow;
		text-decoration: none;
		font-size: rem(18);
		transition: all .5s ease-out;
		display: flex;
		align-items: center;
		justify-content: space-between;


		&--1{

		}

		&--2{
			font-size: rem(16);
			padding: rem(12) rem($grid-gutter-width/3) rem(12) rem($grid-gutter-width/2);
			background: rgba($brand-light-black, 0.8);
			color: rgba($brand-yellow, 0.8);
			border-top: 2px solid rgba($brand-border, 0.8);
		}

		&--3{
			font-size: rem(14);
			padding: rem(10) rem($grid-gutter-width/3) rem(10) rem($grid-gutter-width);
			background: rgba($brand-light-black, 0.6);
			color: rgba($brand-yellow, 0.6);
			border-top: 1px solid rgba($brand-border, 0.6);

			&:hover{
				background: rgba($brand-dark-grey, 0.6);
			}

			&:after{
				content: "";
				background-color: rgba($brand-yellow, 0);
				transform: scale(.5);
				width: rem(14);
				height: rem(14);
				transition: all .2s ease-out;
				border-radius: rem(7);
			}

			&-selected{
				background: rgba($brand-dark-grey, 0.4);
				;

				&:after{
					background-color: rgba($brand-yellow, 1);
					transform: scale(1)
				}
			}
		}
	}
}
