// Styles related to <footer> HTML element

.footer{
  	padding: rem($grid-gutter-width/2) rem($grid-gutter-width/2) rem($grid-gutter-width);
  	background: $brand-bright-yellow;
  	color: $brand-black;
}
