// Styles related to <header> HTML element

.header{
  padding: rem($grid-gutter-width/2);

  &__h1{

    font-family: 'Pathway Gothic One', sans-serif;
    line-height: 1;
    color: $brand-yellow;
    font-size: rem(60);
    letter-spacing: 0.15em;
    margin: 0;
    padding: 0 0 rem(30px);
    position: relative;
    text-transform: uppercase;

    &:after{
      background: $brand-yellow;
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      height: 8px;
      width: 25px;
    }

    @include media-breakpoint-up(md) {
  	  font-size: rem(76);
  	}
  }	
}
